# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=relativa
DB_USER=relativa
DB_PASS=relativa

# pgAdmin
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@relativa.local
PGADMIN_DEFAULT_PASSWORD=admin123

# Frontend
CLIENT_PORT=3000
VITE_GATEWAY_URL=http://localhost:8080
